@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Passion+One:wght@400;700;900&display=swap');

body{
    background-color: #F23D4C;
    color: #FFFFFF; 
    font-family: "Merriweather", serif;
}

#title {
    text-align: center;
    margin: 1em auto;
    padding-top: 15px;

}

#description {
    text-align: center;
    margin: 1em auto;
    padding-top: 5px;
    padding-bottom: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

#principal {
    text-align: center;
    margin: auto;
    padding-top: 30px;
    background-color: #FFFFFF;
    height: 100vh;
    width: 700px;
}

#survey-form {
   color: #F23D4C;
   margin: auto 0;
}

fieldset {
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
    display: block;
    margin: 0.5rem 0;
    text-align: left;
}

input, select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    border: 1px solid black;
    border-radius: 5px;
}

#dropdown {
    
}