@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    text-align: center;
    align-items: center;
}

.logo {
    flex: 20%;
    text-align: left;
    margin-left: 10%;
}

.logo h1 {
    font-family: 'Lobster', cursive;
    color: #180F4A;
    font-size: 34px;
}

.menu {
    flex: 70%;
    text-align: right;
    padding: 20px;
}

.menu a{
    color: #180F4A;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover {
    color: #FF2978;
    border-top: 3px solid #180F4A ;
}

#botao {
    background-color: #180F4A;
    padding: 10px 25px;
    color: white;
    border-radius: 6px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover {
    border: none;
    background-color: #FF2978;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.headline {
    flex: 40%;
    margin-left: 10%;
}

.headline h2 {
    font-weight: 900;
    font-size: 20px;
    color: #180F4A;
    padding: 0;
    margin: 0;
}

.headline p {
    color: gray;
    text-align: left;
}

.contact-btn {
    display: inline-block;
    color: white;
    background-color: #FF2978;
    text-transform: uppercase;
    padding: 18px;
    border-radius: 6px;
    text-decoration: none;
}

.contact-btn:hover {
    background-color: #180F4A;    
}

.img-headline {
    flex: 40%;
    margin-right: 10%;
    text-align: center;
}